@model IEnumerable<JeffSite.Models.Malling>
@{
    Layout = "_LayoutAdmin";
    int limit = (int)ViewBag.Limit + 5;
}
<br>
<h1>@ViewData["Title"]</h1>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">@Html.DisplayNameFor(Model => Model.Email)</th>
      <th scope="col">@Html.DisplayNameFor(Model => Model.Nome)</th>
      <th scope="col">@Html.DisplayNameFor(Model => Model.Onde)</th>
      <th scope="col">@Html.DisplayNameFor(Model => Model.DataAniversario)</th>
      <th scope="col">@Html.DisplayNameFor(Model => Model.DataCadastro)</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var item in Model)
      {
          <tr>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Onde)</td>
            <td>@Html.DisplayFor(modelItem => item.DataAniversario)</td>
            <td>@Html.DisplayFor(modelItem => item.DataCadastro)</td>
        </tr>
      }
  </tbody>
</table>

<form asp-action="Index" method="GET" >
    <input type="hidden" name="limit" value="@limit">
    <button class="btn btn-block btn-info">Ver mais Emails</button>
</form>