@model IEnumerable<JeffSite.Models.Leitor>
@{
    Layout = "_LayoutAdmin";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Aprovar</th>
      <th scope="col">@Html.DisplayNameFor(Model => Model.Id)</th>
      <th scope="col">@Html.DisplayNameFor(Model => Model.Name)</th>
      <th scope="col">@Html.DisplayNameFor(Model => Model.Email)</th>
      <th scope="col">@Html.DisplayNameFor(Model => Model.Nickname)</th>
      <th scope="col">@Html.DisplayNameFor(Model => Model.PathImg)</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var item in Model)
      {
          <tr>
            <th scope="row">
                @Html.ActionLink(" ", "Approve", new { id = item.Id }, new { @class = "fas fa-check-square" })

            </th>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.Nickname)</td>
            <td><img height="100px" width="100px" src="../img/Leitor/@item.NameImg"></td>
        </tr>
      }
  </tbody>
</table>