@model JeffSite.Models.Leitor
@{
    string errorMessage = ViewBag.ErrorMessage == null ? string.Empty : ViewBag.ErrorMessage.ToString();
}
<style>
    .imgContainerMain{
        text-align: center;
    }
    .imgContainer{
        float:left;
        margin-left: 20px;
        margin-right: 20px;
    }
    .imgContainer img{
        height: 170px;
        width: 170px;
    }
</style>
<div class="container">
  <h1>Hello World!</h1>
  <div class="row">
    <div class="col-sm-8">
        @{
            List<Leitor> listLeitores = (List<Leitor>)ViewBag.Leitores;
            int totalRegister = listLeitores.Count;
        }
        @for (var i = 0; i < totalRegister; i++)
        {
            <div class="imgContainerMain">
                <div class="imgContainer">
                        <img src="../img/Leitor/@listLeitores[i].NameImg">
                        <p>This is image @i</p>
                    </div>
            </div>
        }
       
    </div>
    <div class="col-sm-4">
        <h4 style="text-align: center;">Envie sua imagem</h4>
        <form asp-controller="Leitor" asp-action="Create" enctype="multipart/form-data" style="border: 1px solid black; border-radius: 5%; padding: 5px;">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">
                        @Html.DisplayNameFor(model => model.Name)
                    </span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" asp-for="Name">
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">
                        @Html.DisplayNameFor(model => model.Email)
                    </span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" asp-for="Email">
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">
                        @Html.DisplayNameFor(model => model.Nickname)
                    </span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" asp-for="Nickname">
            </div>
            <div class="input-group mb-3">
                <input type="hidden" asp-for="PathImg" value="../JeffSite/wwwroot/img/Leitor/">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">
                        @Html.DisplayNameFor(model => model.PathImg)
                    </span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="Img" aria-describedby="inputGroupFileAddon01" accept="image/*" >
                    <label class="custom-file-label" for="inputGroupFile01">Escolha sua imagem</label>
                </div>
            </div>
            <small>Somente 5Mb</small>
            <span class="text-danger">@errorMessage</span>
            <button type="submit" class="btn btn-info">Enviar</button>
        </form>
    </div>
  </div>
</div>