@model JeffSite.Models.Livro.Livro
@{
    Layout = "_LayoutAdmin";
    string pathImg = System.IO.Path.Combine("..","..","img","Livro");
}
<br>
<h1>@ViewData["Title"]</h1>
<br>

<form asp-action="Delete">
    <div class="form-group">
        <label>@Html.DisplayNameFor(Model => Model.Id)</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="form-group">
        <label>@Html.DisplayNameFor(Model => Model.Title)</label>
        <input type="text" class="form-control" asp-for="Title" readonly>
    </div>
    <div class="form-group">
        <label>@Html.DisplayNameFor(Model => Model.Description)</label>
        <input type="text" class="form-control" asp-for="Description" readonly>
    </div>
    <div class="form-group">
        <label>@Html.DisplayNameFor(Model => Model.ImgName)</label>
        <img src="@pathImg/@Model.ImgName" style="width: 100px;">
        <input type="hidden" class="form-control" asp-for="ImgName" >
    </div>
    <a asp-controller="Loja" asp-action="ListLivros">Voltar</a>
    @if(ViewBag.flagDelete == false){
        <button class="btn btn-danger" disabled>Excluir</button>
        <div class="alert alert-danger" role="alert" style="margin-top: 30px;">
            Este livros tem referencias: 
            <button type="button" class="btn btn-danger" >
                URLs <span class="badge badge-light">@ViewBag.qtdWTB</span>
            </button>
            <button type="button" class="btn btn-danger" >
                Pedidos <span class="badge badge-light">@ViewBag.qtdPedido</span>
            </button>
        </div>
    }else{
        <button class="btn btn-danger">Excluir</button>
    }
    
</form>