@{
    string linkMercadoLivre = ViewBag.LinkMercadoLivre;
}
<script src="lib/jquery/dist/jquery.min.js"></script>
<style>
    .livro{
        background-color: #EEEEEE;
    }
    .fotoLivro{
        width: 200px;
        height: 200px;
    }
    .fotoLivro img{
        width: 80%;
        height: 80%;
        margin: 10%;
    }
    .descricao{
        background-color: #F6F6F6;
        margin-left: 210px;
        margin-top: -200px;
        height: 200px;
    }
    .descricao-titulo{
        width: 100%;
        padding-left: 15px;
    }
    .descricao-corpo{
        width: 100%;
        text-align: justify;
        padding-left: 30px;
        padding-right: 20px;
    }
    .descricao-corpo p{
        font-style: italic;
    }
    .descricao-links{
        margin-right: 10px;
        position: absolute;
        bottom: 0;
    }
    .descricao-links ul li{
    display: inline;
    text-decoration: none;
    color: #757373;
    }
    .descricao-links a{
        color: #757373;
    }
    .mercado-livre{
        background-color: #F0F0F0;
        margin-bottom: 20px;
        text-align: center;
    }
    .mercado-livre a{
        text-decoration: none; 
    }
</style>
<div class="container">
<h3>@ViewBag.Title</h3>
    @if(!string.IsNullOrEmpty(linkMercadoLivre)){
        <div class="mercado-livre">
            <p>Conheça nossa loja no: <img src="img/MercadoLivreLogo.jpg" style="width: 30px"> <a href="@linkMercadoLivre" target="_blank">Mercado Livre</a></p>
        </div>
    }

    @foreach (var item in ViewBag.Livros)
    {
        <div class="row" style="margin-bottom: 20px; position: relative;">
            <div class="col">
                <div class="livro">
                    <div class="fotoLivro">
                        <img src="img/Livro/@item.ImgName" />
                    </div>
                    <div class="descricao">
                        <div class="descricao-titulo"><h4>@item.Title</h4></div>
                        <div class="descricao-corpo">
                            <p>
                                @item.Description
                            </p>    
                        </div>
                        <div class="descricao-links">
                            <ul>
                                @foreach (var wtb in item.WhereToBuys)
                                {
                                    <li><a href="@wtb.UrlEndereco" target="_blank"><i class="@wtb.IconFA"></i> @wtb.Name</a></li>
                                }
                                    <li><a href="" id="linkAutografado" data-toggle="modal" data-target="#myModal" data-id="@item.Id" data-title="@item.Title"><i class="fas fa-book-open"></i> Compra Autografada</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    </div>

    <!-- modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Compra Autografada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="pedido">
                <div class="modal-body">
                    <input type="hidden" id="idLivro">
                    <div class="form-group">
                        <label for="nome" class="col-form-label">*Nome:</label>
                        <input type="text" class="form-control" id="nome" required>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">*Email:</label>
                        <input class="form-control" type="email" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="dedicado" class="col-form-label">Nome do dedicado</label>
                        <input class="form-control" type="text" id="dedicado">
                    </div>
                    <div class="form-group">
                        <label for="cep" class="col-form-label">*CEP</label>
                        <input class="form-control" 
                            type="number" 
                            placeholder="0000000" 
                            id="CEP" 
                            required
                            oninput="maxLengthCheck(this)"
                            maxlength = "8">
                    </div>
                    <div class="form-group">
                        <label for="endereco" class="col-form-label">*Endereço</label>
                        <input class="form-control" type="text" id="endereco" required>
                    </div>
                    <div class="form-group">
                        <label for="bairro" class="col-form-label">*Bairro</label>
                        <input class="form-control" type="text" id="bairro" required>
                    </div>
                    <div class="form-group">
                        <label for="cidade" class="col-form-label">*Cidade</label>
                        <input class="form-control" type="text" id="cidade" required>
                    </div>
                    <div class="form-group">
                        <label for="numero" class="col-form-label">*Numero</label>
                        <input class="form-control" type="number" id="numero" required>
                    </div>
                    <div class="form-group">
                        <label for="complemento" class="col-form-label">Complemento</label>
                        <input class="form-control" type="text" id="complemento">
                    </div>
                    <div class="alert alert-success" role="alert" id="aviso" style="display:none">
                        Enviado, por favor aguarda que você receberá novas instruções.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    
</div>

<script>
    $('a#linkAutografado').click(function (event){
        var id = $(event.target).attr("data-id")
        var title = $(event.target).attr("data-title")
        //console.log($(event.target).attr("data-id"))
        //console.log($(event.target).attr("data-title"))

        $("h5#myModalLabel").text(title)
        $("input#idLivro").val(id)
    })

    $("#CEP").keyup(function(){
        var cep = $(this).val()
        if(cep.length == 8){
            $.ajax({
                url: `https://viacep.com.br/ws/${cep}/json/`,
                type:"GET",
                dataType: "json",
                success: function(data) {
                    $("#endereco").val(data.logradouro)
                    $("#bairro").val(data.bairro)
                    $("#cidade").val(data.localidade)
                }
            })
        }
    })

    $("#pedido").submit(function(event){
        
        var pedido = {
            Nome: $("#nome").val(),
            Email: $("#email").val(),
            NomeDedicado: $("#dedicado").val(),
            CEP: $("#CEP").val(),
            Endereco: $("#endereco").val(),
            Bairro: $("#bairro").val(),
            Cidade: $("#cidade").val(),
            Numero: parseInt($("#numero").val()),
            Complemento: $("#complemento").val(),
            IdLivro: parseInt($("#idLivro").val())
        }

        //console.log(JSON.stringify(pedido))
        
        $.ajax({
            url: 'https://' + window.location.host + "/api/livro/add-pedido",
            method :"POST",
            type: "json",
            contentType: "application/json; charset=UTF-8",
            data: JSON.stringify(pedido),
            complete: function(xrh, textStatus){
                if(textStatus == "success"){
                    document.getElementById('aviso').style.display = "block"
                }else{
                    //alert(textStatus)
                    alert("Houve algum erro, por favor retortar mais tarde")
                }
            }
        })
        event.preventDefault()
    })

    function maxLengthCheck(object)
    {
        if (object.value.length > object.maxLength)
        object.value = object.value.slice(0, object.maxLength)
    }

    
</script>