@model IEnumerable<JeffSite.Models.Loja.Pedido>
@{
    Layout = "_LayoutAdmin";
    int limit = (int)ViewBag.Limit + 5;
    string filtroStatus = ViewBag.Status;
}

<br>
<h1>@ViewData["Title"]</h1>
<br>

<div style="
    width: 100%;
    margin-top: -30px;
    height: 80px;
    ">
  Filtrar por Status:
  <form asp-action="Pedido" method="GET">
    <input type="hidden" name="limit" value="@limit">
    <select name="filtroStatus">
      <option >Selecione um tipo</option>
      <option value="Aguardando_Link_De_Pagamento">Aguardando Link de Pagamento</option>
      <option value="Aguardando_Pagamento">Aguardando Pagamento</option>
      <option value="Pago_e_Aguardando_Dedicatorio">Pago e Aguardando dedicatório</option>
      <option value="Aguardando_Postagem">Aguardando Codigo ou Link de Rastreio</option>
      <option value="Enviado"></option>
    </select>
    <button type="submit" class="btn btn-info" >Filtrar</button>
  </form>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">@Html.DisplayNameFor(Model => Model.Id)</th>
      <th scope="col">@Html.DisplayNameFor(Model => Model.Nome)</th>
      <th scope="col">@Html.DisplayNameFor(Model => Model.NomeDedicado)</th>
      <th scope="col">@Html.DisplayNameFor(Model => Model.Email)</th>
      <th scope="col">@Html.DisplayNameFor(Model => Model.Status)</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var item in Model)
      {
          <tr>
            <td>
              @Html.ActionLink("Editar", "EditPedido", new { id = item.Id })
              @Html.Label(" | ")
              @Html.ActionLink("Deletar", "DeletePedido", new { id = item.Id })
            </td>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.NomeDedicado)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>
              @if(@JeffSite.Utils.Util.GetDescription(item.Status) == "Enviado"){
                @JeffSite.Utils.Util.GetDescription(item.Status)
              }else{
                @Html.ActionLink(@JeffSite.Utils.Util.GetDescription(item.Status), "PedidoAddInfo", new { id = item.Id})
              }
            </td>
            
        </tr>
      }
  </tbody>
</table>

<form asp-action="Pedido" method="GET" >
    <input type="hidden" name="limit" value="@limit">
    <input type="hidden" name="filtroStatus" value="@filtroStatus">
    <button class="btn btn-block btn-info">Ver mais Pedidos</button>
</form>