@model Carousel
@{
    Layout = "_LayoutAdmin";
}
<br>
<h1>@ViewData["Title"]</h1>
<br>

<form asp-action="Delete">
    <div class="form-group">
        <label>@Html.DisplayNameFor(Model => Model.Id)</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="form-group">
        <label>@Html.DisplayNameFor(Model => Model.Title)</label>
        <input type="text" class="form-control" asp-for="Title" readonly>
    </div>
    <div class="form-group">
        <label>@Html.DisplayNameFor(Model => Model.Description)</label>
        <input type="text" class="form-control" asp-for="Description" readonly>
    </div>
    <div class="form-group">
        <label>@Html.DisplayNameFor(Model => Model.Link)</label>
        <input type="text" class="form-control" asp-for="Link" readonly>
    </div>
    <div class="form-group">
        <label>@Html.DisplayNameFor(Model => Model.ExpirationDate)</label>
        <input type="date" class="form-control" asp-for="ExpirationDate" readonly>
    </div>
    <a asp-controller="Carousel" asp-action="Index">Voltar</a>
    <button class="btn btn-danger">Excluir</button>
</form>